.card__wrapper {

}


.card__img {
  display: flex;
  margin: left 50px;
}

.card__img img {
  display: block;
  width: 350px;
  height: 100%;
}

.card__title {
 
}


.card__description {
}


.dog {
  border: solid 1px red;
 

}
